body{
   background-image: url(thumb-1920-72397.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position-x: center;
background-size: cover;
    }

    H1{
color: rgb(0, 0, 0);
font: bolder;
text-align: center;
font-family: "press start 2p",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: bold;
    }
    .idd{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Courier New', Courier, monospace;
        font-style: oblique;
    
    }
.even{
color: darkseagreen;
}
span{
    color: lightskyblue;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}    

p{
    background-color: aliceblue;
 text-align: center;
font-family: 'Courier New', Courier, monospace;

;
}
H3{
    color: rgb(255, 247, 247);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.hob{
    text-align: left;
    color: rgb(34, 34, 34);
}

.TECH{
    text-align: center;
    border: 5px solid;
    width: 250px;
    height: 250px;
    border-left: double;
    border-right: double;
    border-top: double;
    border-bottom: double;
  background-color: rgb(0, 0, 0) ;
  color: beige;
  table-layout: auto;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-left: auto;
margin-right: auto;
 
}
.bat{
    color: rgb(212, 0, 0);
}
.v{
    text-align: center;
    background-color: aliceblue;
   
}
.EDU{
    text-align: center;
   color: azure;
}
.inter{
    text-align: center;
   color: azure;
}
.cation{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
}
.PER{
    text-align: left;
}
#ol{
    color: aliceblue;
}
#li{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: azure;
    text-align: center;
}
.image{
    margin-left: auto;
    margin-right: auto;
}
#a{
    margin-left: auto;
    margin-right: auto;
}
.left{
    text-align: left;
color: rgb(0, 0, 0);
}